<template>
  <div>
    <h1
      class="GG"
      name="GG"
      attr="gg"
    >
      Hello World!
    </h1>
  </div>
</template>

<script>
console.log(process.env.APP_NAME);

module.exports = {
  name: 'VueRoot',
};
</script>

<style lang="scss" scoped>
h1 {
  color: blue;
}
</style>
